/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
h1 {
	font-size: 75px;
}
h2, p {
	margin: 10px 0;
}
h2 {
	font-size: 25px;
	font-family: 'Merriweather', serif;
}
p {
	line-height: 1.3em;
	margin: 0 auto;
}
hr {
	width: 75%;
	margin-bottom: 20px;
}
/*	Header/Nav	*/
header {
	display: inline-block;
	text-align: center;
	margin-top: 50px;
}
nav {
	display:flex;
	justify-content: space-around;
}
nav a {
	text-decoration: none;
	color: gray;
}
.navLinks {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;	
}
header h1 {
	width: 100%;
}
header img {
	margin-bottom: 20px;
}
button {
	margin-top: 5px;
	border: 1px solid black;
	padding: 5px 50px;
}
.cta {
	display: flex;
	flex-direction: column;
}
/*	First Two Paragraphs	*/
.first {
	display: flex;
	justify-content: space-evenly;
}
.left {
	/* display: flex;
	align-items: center;
	flex-direction: column; */
	width: 30%;
}
.right {
	width: 30%;
	/* display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between; */
}
.middleImage {
	margin: 20px;
	display: flex;
	justify-content: center;
}
.middleImage img {
	width: 75%;
}
.last3 {
	width: 100%;
	display: flex;
	justify-content: center;
}
#services {
	width: 23%;
}
#product {
	width: 25%;
}
#vision {
	width: 25%;
}
.contactContainer {
	display: flex;
	flex-direction: column;
	width: 18%;
}
#contact {
	display: flex;
	justify-content: flex-end;
	align-content: end;
}
.address {
	display: flex;
	justify-content: flex-end;
	width: 19.5%;
}
footer {
	text-align: center;
}